[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=config-screen
Comment=config-screen
Exec=bash -c "sleep 3 && sh $HOME/bin/config-screen.sh"
OnlyShowIn=bspwm
